%nav {
    position: fixed;
    width: 100%;
}

.navbar {
    @include flex(row, space-between);
    align-items: center;
    background-color: $gray-13;
    height: 80px;
}

.navbar-section {
    @include flex(row, space-around);
    align-items: center;
    height: 70px;
    margin-right: 15px;
    width: 200px;

    .logo {
        @include flex(row, center);
        align-items: center;
        background-color: $orange;
        color: $white;
        height: 50px;
        text-decoration: none;
        width: 75px;

        &:hover { opacity: 0.8; }
    }

    .navbar-item {
        background-color: $orange;
        color: $white;
        padding: 10px;
        text-decoration: none;

        &:hover { opacity: 0.8; }
    }
}
