$white: #fff;

$gray-1: #fafafa;
$gray-2: #f7f7f7;
$gray-3: #f2f2f2;
$gray-4: #dedede;
$gray-5: #cecece;
$gray-6: #b3b3b3;
$gray-7: #999;
$gray-8: #858585;
$gray-9: #757575;
$gray-10: #666;
$gray-11: #5b5b5b;
$gray-12: #4d4d4d;
$gray-13: #333;

$black: #000;

$error-red: firebrick;
$red: palevioletred;

$dk-blue: #548B94;
$blue: cornflowerblue;
$lt-blue: #8EB1F1;

$green: darkgreen;
$lt-green: #E6F3D5;
$hover-green: #F9FFF7;

$brown: #AD7E60;

$orange: #EDA785;
