!!!
%html{lang: "en"}
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ href: "/assets/stylesheets/application.scss", rel: "stylesheet" }
    %link{ href: "https://fonts.googleapis.com/css?family=Muli", rel: "stylesheet" }
    %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
    %script{ src: "/assets/javascripts/application.js" }
    %title= APP_NAME.camelize
  %body
    = yield
